@-webkit-keyframes load-bounce {
    0%, 100% { -webkit-transform: scale(0.0) }
    50% { -webkit-transform: scale(1.0) }
}

@keyframes load-bounce {
    0%, 100% { 
        transform: scale(0.0);
        -webkit-transform: scale(0.0);
    } 50% { 
        transform: scale(1.0);
        -webkit-transform: scale(1.0);
    }
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@-webkit-keyframes loading {
  0% {
    -webkit-transform: rotate(0deg) scale(1);
    transform: rotate(0deg) scale(1);
  }
  50% {
    -webkit-transform: rotate(180deg) scale(1.2);
    transform: rotate(180deg) scale(1.2);
  }
  100% {
    -webkit-transform: rotate(360deg) scale(1);
    transform: rotate(360deg) scale(1);
  }
}
@keyframes loading {
  0% {
    -webkit-transform: rotate(0deg) scale(1);
    transform: rotate(0deg) scale(1);
  }
  50% {
    -webkit-transform: rotate(180deg) scale(1.2);
    transform: rotate(180deg) scale(1.2);
  }
  100% {
    -webkit-transform: rotate(360deg) scale(1);
    transform: rotate(360deg) scale(1);
  }
}
@-webkit-keyframes warn-blink {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: .5;
  }
}
@keyframes warn-blink {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: .5;
  }
}
@-webkit-keyframes load-swing {
  0%, 100% {
    -webkit-transform: translate(-50%,0);
    transform: translate(-50%,0);
  }
  50% {
    -webkit-transform: translate(50%,0);
    transform: translate(50%,0);
  }
}
@keyframes load-swing {
  0%, 100% {
    -webkit-transform: translate(-50%,0);
    transform: translate(-50%,0);
  }
  50% {
    -webkit-transform: translate(50%,0);
    transform: translate(50%,0);
  }
}
@-webkit-keyframes hover-shiver {
  0%, 100% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  25% {
    -webkit-transform: rotate(-15deg);
    transform: rotate(-15deg);
  }
  75% {
    -webkit-transform: rotate(15deg);
    transform: rotate(15deg);
  }
}
@keyframes hover-shiver {
   0%, 100% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  25% {
    -webkit-transform: rotate(-15deg);
    transform: rotate(-15deg);
  }
  75% {
    -webkit-transform: rotate(15deg);
    transform: rotate(15deg);
  }
}
